---
import { AUTHOR_NAME, SITE_DESCRIPTION, SOCIAL_LINKS, RESUME_URL, AUTHOR_EMAIL } from '@/consts';
import IconUser from './icons/IconUser.astro';
import IconEmail from './icons/IconEmail.astro';
import IconGithub from './icons/IconGithub.astro';
import IconLinkedin from './icons/IconLinkedin.astro';
---

<div class="bio-wrapper">
  <div class="bio-header">
    <img 
      src="/images/avatar.png" 
      alt={AUTHOR_NAME}
      class="avatar-image"
    />
    <div class="bio-name">{AUTHOR_NAME}</div>
  </div>
  <div class="bio-main">
    <div class="bio-text">
      {SITE_DESCRIPTION.split('\n').map((line: string) => (
        <p>{line}</p>
      ))}
    </div>
    <div class="bio-links">
      <a href={RESUME_URL} class="bio-link" aria-label="Resume">
        <IconUser width="32" height="32" />
      </a>
      <a href={`mailto:${AUTHOR_EMAIL}`} class="bio-link" aria-label="Email">
        <IconEmail width="32" height="32" />
      </a>
      <a href={`https://github.com/${SOCIAL_LINKS.github}`} class="bio-link" aria-label="Github">
        <IconGithub width="32" height="32" />
      </a>
      <a href={`https://linkedin.com/in/${SOCIAL_LINKS.linkedin}`} class="bio-link" aria-label="LinkedIn">
        <IconLinkedin width="32" height="32" />
      </a>
    </div>
  </div>
</div>

<style>
  .bio-wrapper {
    position: sticky;
    top: 2em;
    width: 290px;
    padding: 1.5em;
    font-size: 15.5px;
    background: var(--color-bg-secondary);
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  }
  
  .bio-header {
    display: flex;
    align-items: center;
  }
  
  .avatar-image {
    display: block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }
  
  .bio-name {
    margin-left: 10px;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 1.3em;
    color: var(--color-text);
  }
  
  .bio-main {
    margin-top: 1em;
  }
  
  .bio-text {
    color: var(--color-text);
    font-size: 0.92em;
  }
  
  .bio-text p {
    margin: 0.5em 0;
  }
  
  .bio-links {
    margin-top: 1.5em;
    display: flex;
    color: var(--color-text);
    text-align: center;
    max-width: 244px;
  }
  
  .bio-link {
    width: 33.3%;
    display: block;
    font-weight: 700;
    font-size: 0.9em;
    line-height: 30px;
    color: var(--color-text-muted);
    letter-spacing: 0.5px;
    text-decoration: none;
    transition: color 0.2s ease;
  }
  
  .bio-link:hover {
    color: var(--color-highlight);
  }
  
  @media screen and (max-width: 950px) { /* theme.responsive.large */
    .bio-wrapper {
      position: relative;
      margin: 2em 0;
      width: 100%;
    }
  }
  
  @media screen and (max-width: 500px) { /* theme.responsive.small */
    .bio-wrapper {
      padding: 1.3em 1em;
    }
  }
</style>
